@media only screen and (max-width: 991px) {
   .box{
    height: 130px;
    width: 70%;
    background-color: #fff;
    
    margin-left: 25px;
    margin-right: 25px;
   
   }
  }
  @media only screen and (max-width:768px){
    .box{
        height: 100px;
        width: 90%;
        background-color: #fff;
        margin-top: 4rem;
        margin-left: 6px;
        margin-right: 5px;
        
       
       }
       .box p {
        font-size: 0.8rem ;
        
       }
       .box span {font-size: 0.8rem ;}
       .box img{
           height: 30px;
           width: 30px;
       }
       #temp-C {
        font-size: 1rem;
    }
    
    #temp-F {
        font-size: 1rem;
    }
  }
  @media only screen and (max-width:576px){
    .form-inline button {
    margin-left: -3rem;
    
     

    
}}
  @media only screen and (max-width:567px){
    .box{
        height: 100px;
        width: 300px;
        background-color: #fff;
        
        margin: 10px;
       
        
       
       } 
  }

@media only screen and (max-width:530px){
    #main-bg h1 {
 
        
        font-size: 1.7rem;
       
        
        
        
        
     
       
    }
    
    #main-bg h3 {
        
        font-size: 1.7rem;
      
        
    }
    
h2 {
    
    letter-spacing: 8px;
    font-size: 2rem;
   
   
    
    
}
}
@media only screen and (max-width:400px){
    #main-bg  {
        width: 90%;
        margin: 10px;
    }
    #main-bg h1 {
 
        
        font-size: 1.7rem;
        text-align: center;
       
        
        
        
        
     
       
    }
    
    #main-bg h3 {
        
        font-size: 1.7rem;
        text-align: center;
      
        
    }
    .box {
        width: 80%;
    }
    
h2 {
    
    letter-spacing: 5px;
    font-size: 1.7rem;
    text-align: center;
   
   
    
    
}



}
@media only screen and (max-width:350px){
    #main-bg{margin-top: 4rem;
    height: auto;}
    h2 {
    
        letter-spacing: 3px;
        font-size: 1.7rem;
        text-align: center;
       
       
        
        
    }

}
@media only screen and (max-width:270px){
    h2 {
    
        
        font-size: 1.2rem;
        text-align: center;
       
       
        
        
    }
    #main-bg h3 {
        
        font-size: 1.2rem;
        text-align: center;
      
        
    }
    input[type=text]::placeholder {
        display: none;
    }
}
